//
//  Dev.xcconfig
//  yappu-world-ios
//
//  Development environment configuration
//

#include "Config.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = yapp.yappu-world-ios.dev
INFOPLIST_KEY_CFBundleDisplayName = YAPP Official Dev

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEV=1
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEV
OTHER_SWIFT_FLAGS = $(inherited) -DDEV

API_BASE_URL = https:/$()/dev-yappuworld.yapp.co.kr
